.rent-gallery {
  --size: 40px;

  @media(max-width: $sm)  {
    --size: 24px
  }

  &__slider {
    position: relative;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: var(--size);

    @media(max-width: $sm)  {
      margin: 0;
    }
  }

  &__slider-nav {
    position: absolute;
    right: -80px;
    top: 104px;
    z-index: 2;

    @media(max-width: $md) {
      top: 50px;
    }
    
    @media(max-width: $sm) {
      display: none;
    }
  }

  &__item {


    &.swiper-slide {

      // &:nth-of-type(odd) {
      //   margin-top: 40px;

      //   @media(max-width: $sm)  {
      //     margin-top: 24px;
      //   }
      // }
    }

    &.swiper-slide-active {
      transform: translateY(0px);
      transition: 0.25s;

  
      + .swiper-slide {
        transform: translateY(var(--size));
        transition: 0.25s;
  
        + .swiper-slide + .swiper-slide {
          transform: translateY(var(--size));
          transition: 0.25s;
        }
      }
    }

    &.swiper-slide-prev {
      transform: translateY(var(--size)) !important;
      transition: 0.25s;
    }

    img {
      display: block;
      max-width: 100%;
      border-radius: 16px;

      @media(max-width: $sm)  {
        border-radius: 6px;
      }
    }
  }
}