.vacancy {
  &__content {
    display: grid;
    grid-template-columns: 1fr 509px;
    gap: 16px;

    @media (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__aside {
    padding: 40px;
    background-color: var(--color-grey-lighter);
    border-radius: 16px;

    @media (max-width: $sm)  {
      padding: 28px 20px;
      border-radius: 10px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media (max-width: $sm) {
      display: flex;
      align-items: stretch;
      gap: 8px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 344px;
    padding: 27px;
    border: 1px solid cl(blck, 0.1);
    border-radius: 16px;

    @media (max-width: $xl) {
      padding: 20px;
    }

    @media (max-width: $lg) {
      min-height: 270px;
    }

    @media (max-width: $sm)  {
      width: 232px;
      flex-shrink: 0;
      gap: 16px;
      border-radius: 10px;
    }

    &-city {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
      opacity: 0.4;

      @media (max-width: $sm)  {
        font-size: 12px;

        svg {
          width: 14px;
          height: 14px;
        }
      }

      svg {
        display: block;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: $sm)  {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
      }
    }

    &-title {
      margin: auto 0 0 0;
      font-size: 32px;
      font-weight: 500;

      @media (max-width: $xl) {
        font-size: 24px;
      }

      @media (max-width: $sm)  {
        margin: 0;
      }
    }

    &-bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 -27px -27px;
      border-top: 1px solid cl(blck, 0.1);

      @media (max-width: $xl) {
        margin: 0 -20px -20px;
      }

      @media (max-width: $sm)  {
        margin-top: auto;
      }
    }

    &-cell {
      padding: 27px;
      font-size: 18px;


      @media (max-width: $xl) {
        padding: 13px 20px;
      }

      
      @media (max-width: $sm)  {
        text-align: center;
        font-size: 16px;
        padding: 13px 17px;
      }

      span {
        display: block;
        opacity: 0.5;
        font-size: 14px;
        margin-bottom: 8px;

        @media (max-width: $sm)  {
          font-size: 10px;
        }
      }

      &:not(:last-of-type) {
        border-right: 1px solid cl(blck, 0.1);
      }
    }
  }

  &__title {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 32px;

    @media (max-width: $sm)  {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  &__form {
    @media (max-width: $sm)  {
      display: flex;
      flex-direction: column;
    }

    .form-control {
      border: 1px solid cl(blck, .1);
      background-color: transparent;
    }

    &-groups {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      @media (max-width: $sm)  {
        gap: 8px;
      }
    }

    &-file {
      margin-top: 24px;
      opacity: .5;
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        display: block;
      }

      @media (max-width: $sm)  {
        margin-top: 20px;
        font-size: 12px;
        gap: 8px;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    &-submit {
      margin-top: 32px;

      @media (max-width: $sm)  {
        order: 10;
        width: 175px;
      }
    }

    &-agreement {
      margin-top: 24px;

      @media (max-width: $sm)  {
        margin-top: 20px;
      }
    }
  }

  &__all {
    display: block;
    text-align: center;
    grid-column: span 2;

    @media (max-width: $lg) {
      grid-column: initial;
      grid-row: 2 / 3;
    }
  }
}
