.choose-floor {
  position: relative;

  &.choose-parking {

    @media(max-width: $sm) {

      .choose-floor__scheme{
        width: 900px;
      }
    }
  }

  &__bg {
    border-radius: 20px;
    overflow: hidden;
    display: block;

    @media (max-width: $sm) {
      height: 520px;
      border-radius: 10px;
    }

    &--commercial {

      @media(max-width: $sm) {
        height: auto;
      }

      @media(max-width: $xs) {
        height: 520px;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 20px;

      @media (max-width: $sm) {
        border-radius: 10px;
      }

      @media (max-width: $xs) {
        width: 644px;
        height: 538px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &__building {
    position: relative;
    border-radius: 20px;
    
    @media(max-width: $sm) {
      overflow: hidden;
      border-radius: 10px;
    }
  }

  &__scheme {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;

    @media (max-width: 560px) {
      width: 644px;
      height: 538px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px 80px 30px 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @media (max-width: $sm) {
      padding: 12px;
      flex-direction: row-reverse;
      gap: 8px;
    }
  }

  &__back {
    color: cl(whte);
    border-bottom: 1px solid cl(whte);
    display: block;
    margin-top: 26px;
    flex-shrink: 0;

    svg {
      display: none;
    }

    @media (max-width: $sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      --size: 54px;
      font-size: 0px;
      width: var(--size);
      height: var(--size);
      border-radius: 10px;
      border: 1px solid cl(whte, 0.2);
      background-color: cl(whte, 0.2);
      backdrop-filter: blur(5px);
      margin: 0;

      svg {
        display: block;
        transform: rotate(-180deg);
      }
    }
  }
}

.house-floor {
  cursor: pointer;
  position: relative;
  z-index: 3;
  transition: 0.25s;
  opacity: 0;

  &.is-active {
    opacity: 1;
  }
}

.house-info {
  max-width: 349px;
  width: 100%;
  position: absolute;
  left: 38px;
  color: cl(whte);
  font-size: 14px;
  z-index: 9;
  opacity: 0;
  transition: opacity $time $tr 0s;
  will-change: opacity;
  pointer-events: none;
  
  @media (max-width: 1023px) {
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 100dvh;
    inset: 0 !important;
    z-index: 999;
  }

  &.is-open {
    opacity: 1;
    pointer-events: all;
  }

  &--fixed {
    position: fixed;
  }

  &--complex {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $md) {
      top: 0;
      left: 0;
      transform: none;
    }
  }

  &--stock {
    top: 50%;
    left: 38px;
    transform: translateY(-50%);

    @media (max-width: $md) {
      top: 0;
      left: 0;
      transform: none;
    }
  }

  &--sold-out {
    left: auto;
    right: 38px;
    bottom: 20%;
    top: auto;

    @media (max-width: $md) {
      right: 0;
      left: 0;
      bottom: 0;
    }

    .house-info__close {
      svg {
        color: var(--color-blck);
      }
    }

    .house-info__card {
      background: linear-gradient(100.43deg, #362825 -1.14%, #665551 105.39%);
    }
  }

  &--white {
    color: cl(blck);

    .house-info__card {
      background-color: cl(whte);
    }

    .house-info__floor {
      color: var(--color-primary);

      &-desc {
        span {
          color: cl(blck, 0.4);
        }
      }
    }

    .house-info__btn {
      background-color: var(--color-primary);
      color: var(--color-whte);
    }

    .house-info__close {
      background-color: var(--color-grey-lighter);
    }

    .house-info__apartment {
      border-bottom: 1px solid cl(blck, 0.2);
    }

    .house-info__add {
      background-color: var(--color-grey-lighter);
    }
  }

  &__card {
    padding: 24px;
    background-color: var(--color-primary);
    border-radius: 16px;
    width: 100%;

    @media (max-width: $md) {
      position: absolute;
      bottom: 0;
      border-radius: 16px 16px 0 0;
      z-index: 99;
    }
  }

  &__overlay {
    display: none;

    @media (max-width: $md) {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: cl(blck, 0.3);
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: $md) {
      margin-bottom: 44px;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: cl(whte);
    border-radius: 50%;

    svg {
      color: var(--color-blck);
    }

    @media (max-width: $md) {
      display: none;
    }
  }

  &__btn {
    margin-top: 44px;
    display: none;
    text-align: center;

    @media (max-width: $md) {
      display: block;
    }
  }

  &__close {
    display: none;

    @media (max-width: $md) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      background-color: cl(whte);
      border-radius: 50%;

      svg {
        color: var(--color-primary);
      }
    }
  }

  &__apartments {
    margin-bottom: 50px;

    @media (max-width: $md) {
      margin-bottom: 44px;
    }
  }

  &__floor {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    &-num {
      font-size: 100px;
      font-weight: 500;
      line-height: 0.8;

      @media (max-width: $md) {
        font-size: 80px;
      }
    }

    &-desc {
      span {
        display: block;
        opacity: 0.7;
        margin-top: 8px;
      }
    }
  }

  &__status {
    background-color: transparent;
  }

  &__apartment {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid cl(whte, 0.4);

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &-price {
      text-align: right;
    }

    &-num {
      opacity: 0.5;
    }
  }

  &__final {
    font-weight: 500;
    font-size: 18px;

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      opacity: 0.4;
    }
  }
}
