.cases {
  &__title {
    margin-bottom: 60px;

    @media (max-width: $md) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    grid-column: span 2;

    @media (max-width: $sm) {
      grid-column: initial;
    }
  }

  &__panel {

    margin-bottom: 50px;

    @media(max-width: $md) {
      margin-bottom: 20px;
    }

    &-top {
      position: relative;

      @media (max-width: $md) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.49fr 1.3fr;
    align-items: flex-end;
    gap: 16px;

    .filter-item:last-child {
      margin-right: 88px;
    }

    @media(max-width: $md)  {
      display: none; 
    }
  }

  &__filters-toggle {
    display: none;

    @media(max-width: $md) {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        bottom: -1px;
        height: 1px;
        background-color: cl(blck);
      }
    }
  }

  &__filters-sorting {
    display: none;
    position: relative;

    @media(max-width: $md) {
      display: block;
      margin: 0 51px 0 auto;
      width: 45px;

      &.is-open {
        .cases__filters-sorting-content {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }

    &-toggle {
      width: 45px;
      height: 45px;
      border: 1px solid cl(blck, .1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-content {
      position: absolute;
      top: calc(100% + 8px);
      right: 0;
      z-index: 3;
      min-width: 200px;
      padding: 16px 19px;
      border: 1px solid cl(blck, .1);
      background-color: cl(whte);
      border-radius: 6px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(20px);
      transition: transform .25s;
    }

    &-current {
      padding-bottom: 20px;
      border-bottom: 1px solid cl(blck, .1);
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
    }

    &-type {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }

      input {
        position: fixed;
        transform: scale(0);

        &:checked + span {
          color: cl(primary);
        }
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &__filters-tags {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 50px;

    @media(max-width: $md) {
      display: none;
    }
  }

  &__search {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid cl(blck, .1);
    border-radius: 50%;
    overflow: hidden;

    
    @media(max-width: $md) {
      width: 45px;
      height: 45px;
    }

    &.is-open {
      width: 100%;
      border-radius: 100px;
      z-index: 3;
      background-color: cl(whte);
      transition: width .25s;

      + .cases__filters {
        opacity: 0;
        pointer-events: none;
        
      }

      .cases__search-input {
        opacity: 1;
        pointer-events: all;
        width: 100%;
        padding-right: 138px;

        @media(max-width: $md)  {
          padding-right: 87px;
        }
      }

      .cases__search-btn {
        inset: auto 5px 5px auto;
        padding: 17px 36px;
        background-color: cl(grey-light);
        border-radius: 999px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        transition: .25s;
        width: auto;
        height: 58px;
        pointer-events: all;

        @media(max-width: $md) {
          height: 37px;
          font-size: 14px;
          padding: 10px 20px;
          bottom: 3px;
          right: 3px;
        }

        @media(any-hover: hover) {
          &:hover {
            background-color: cl(primary);
            color: cl(whte);
          }
        }
      }
    }

    &::before {
      position: absolute;
      content: url('../img/loupe.svg');
      bottom: 32px;
      left: 27px;
      display: block;
      width: 12px;
      height: 12px;
      z-index: 2;
      pointer-events: none;

      @media(max-width: $md) {
        left: 15px;
        bottom: 18px;
      }
    }

    &-input {
      padding: 23px 0 23px 62px;
      opacity: 0;
      display: block;
      width: 100%;
      pointer-events: none;
      outline: none;

      @media(max-width: $md)  {
        padding: 11px 0 11px 40px;
      }
    }

    &-btn {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      font-size: 0px;
      top: 0;
    }
  }
}

.cases-item {

  display: flex;
  align-items: stretch;
  min-height: 427px;

  @media (max-width: $lg) {
    flex-direction: column;
    min-height: 446px;
  }

  &.swiper-slide {
    display: flex;
    align-items: stretch;
    min-height: 427px;
  
    @media (max-width: $lg) {
      flex-direction: column;
      min-height: 446px;
    }
  }

  &__tags {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 16px;

    @media(max-width: $sm) {
      padding: 12px;
    }

    &.is-open {

      .cases-item__tags-bottom {
        display: flex;
      }
    }

    &-line {
      display: flex;
      gap: 4px;
    }

    &-bottom {
      margin-top: 4px;
      display: none;
    }
  }

  &__tag {
    display: inline-block;
    width: auto;
    padding: 8px 16px;
    background-color: cl(whte);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 999px;

    @media(max-width: $sm)  {
      padding: 5px 12px;
      font-size: 10px;
    }

    &--dark {
      background-color: cl(blck, .4);
      color: cl(whte);
      backdrop-filter: blur(5px);
    }
  }

  &__left {
    max-width: 43%;
    width: 100%;
    position: relative;
    border-radius: 20px 0 0 20px;
    overflow: hidden;

    @media (max-width: $lg) {
      max-width: 100%;
      border-radius: 20px 20px 0 0;
      height: 320px;
      flex-shrink: 0;
    }

    @media (max-width: $md) {
      height: 200px;
      border-radius: 10px 10px 0 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    max-width: 57%;
    width: 100%;
    padding: 40px;
    border: 1px solid cl(blck, 0.1);
    border-left-width: 0;
    border-radius: 0 20px 20px 0;
    overflow: hidden;

    @media (max-width: $lg) {
      max-width: 100%;
      border-radius: 0 0 20px 20px;
      border-left-width: 1px;
      border-top-width: 0px;
      height: 100%;
    }

    @media (max-width: $md) {
      padding: 20px;
      border-radius: 0 0 10px 10px;
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img, picture {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 24px;

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 1;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-text);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: $lg) {
      margin-bottom: 32px;
    }

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: auto -40px 0;
    padding: 20px 40px 0;
    border-top: 1px solid cl(blck, 0.1);

    @media (max-width: $md) {
      margin: auto -20px 0;
      padding: 20px 20px 0;
    }
  }

  &__btn {
    @media (max-width: $md) {
      width: 50px;
      height: 50px;
      min-height: 50px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.date {
  display: flex;
  align-items: flex-start;
  gap: 17px;

  &__num {
    font-size: 100px;
    line-height: 0.8;
    display: block;

    @media (max-width: $sm) {
      font-size: 50px;
      line-height: 1;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 10px;

    @media (max-width: $sm) {
      font-size: 12px;
      margin-top: 0;
    }
  }
}


.cases__slider {
  overflow: hidden;

  @media(max-width: $sm) {
    overflow: visible;
  }

  .swiper-wrapper {
    align-items: stretch;
  }
}

.cases-slider {

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media(max-width: $sm) {
      margin-bottom: 28px;
    }
  }

  &__title {
    @media(max-width: $sm) {
      font-size: 32px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 8px;

    @media(max-width: $md) {
      display: none;
    }
  }

  .cases-item {

    &.swiper-slide {

      @media(max-width: $lg) {
        min-height: initial;
        height: auto;
      }
    }
  }
}