.filters {
  position: fixed;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  inset: 0;
  z-index: 101;
  display: none;
  
  &.is-open {
    display: block;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;


    svg {
      --size: 22px;
      width: var(--size);
      height: var(--size);
    }   
    
    @media(max-width: $md) {
      width: 45px;
      height: 45px;
      min-height: 45px;


      svg {
        --size: 24px;
      }
    }
  }

  &__headline {
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 54px;

    @media(max-width: $md) {
      font-size: 32px;
      margin-bottom: 28px;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: cl(blck, 0.4);
  }

  &__wrapper {
    padding: 50px 10px;
    overflow-y: auto;
    height: 100dvh;

    @media(max-width: $md) {
      padding: 0;
    }
  }


  &__selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;

    @media(max-width: $md)  {
      gap: 4px;
      margin-bottom: 28px;
    }

    &-item {
      padding: 10px 16px 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      border-radius: 999px;
      background-color: #F4F4F4;

      @media(max-width: $md) {
        padding: 7px 20px;
        font-size: 12px;
        font-weight: 500;
        gap: 8px;
      }

      &-remove {
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    background-color: var(--color-whte);
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 60px 60px;
    border-radius: 20px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: auto;

    @media(max-width: $lg) {
      padding: 32px;
    } 

    @media(max-width: $md) {
      border-radius: 0;
      padding: 82px 20px 145px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-right: 125px;

    @media(max-width: $xl) {
      padding-right: 0;
    }

    @media(max-width: $lg) {
      gap: 32px;
    } 

    @media(max-width: $md) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media(max-width: $md) {
      gap: 20px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;
    grid-column: span 3;
    margin-top: 30px;

    @media(max-width: $md)  {
      grid-column: span 1;
      position: fixed;
      z-index: 5;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-color: var(--color-whte);
      margin-top: 0;

      &::before {
        position: absolute;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 22.55%, #FFFFFF 100%);
        content: "";
        width: 100%;
        height: 60px;
        left: 0;
        top: -50px;
        pointer-events: none;
      }

      .btn {
        width: 100%;
      }
    }

    @media(max-width: $xs) {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 8px;
    }
  }
}
