.hero-page {
  position: relative;
  height: 100vh;
  max-height: 800px;
  padding: 100px 0;
  background: url("../img/hero/hero-decor-lines.svg") top 70px left / cover
    no-repeat;

  .breadcrumbs {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    padding: 60px 0 20px;

    @media(max-width: $md) {
      padding: 28px 0 40px;
    }
  }

  @media(max-width: $lg) {
    height: auto;
  }

  @media (max-width: $sm) {
    padding: 83px 0 0 0;
    height: auto;
    max-height: initial;
  }

  &__container {
    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__desc {
    max-width: 570px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;

    @media (max-width: $md) {
      margin-bottom: 40px;
      font-size: 16px;
      max-width: 320px;
    }

    @media (max-width: $sm) {
      font-size: 14px;
      max-width: 335px;
    }
  }

  &__title {
    margin-bottom: 50px;
    color: var(--color-primary);

    @media (max-width: $md) {
      margin-bottom: 28px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    top: 70px;
    right: 0;
    max-width: 50%;

    img {
      max-width: 100%;
    }

    @media (max-width: $md) {

    }

    @media (max-width: $sm) {
      max-width: 100%;
      position: relative;
      right: -20px;
      margin-top: -20px;
      top: 20px;
      bottom: auto;
      align-self: flex-end;
    }
  }

  &__btn {
    padding: 18px 58px;

    span:last-child {
      display: none;
    }

    @media (max-width: $md) {
      padding: 14px 28px;

      span:first-child {
        display: none;
      }

      span:last-child {
        display: block;
      }
    }
  }
}

.banks {
  overflow: hidden;

  @media (max-width: $md) {
    margin-top: -20px;
  }

  &__slider {
    position: relative;

    &-nav {
      position: absolute;
      z-index: 3;
      right: 10%;
      top: 50px;

      @media(max-width: $lg) {
        display: none;
      }
    }
  }

  &__item {
    &.swiper-slide {
      display: inline-flex;
      width: 320px;
      min-height: 260px;
      align-items: center;
      justify-content: center;
      padding: 50px 20px;
      background-color: var(--color-grey-light);
      border-radius: 16px;

      @media (max-width: $md) {
        padding: 16px;
        border-radius: 10px;
        width: 164px;
        min-height: 130px;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.mortgage {
  overflow: hidden;

  &__item {
    &.swiper-slide {
      position: relative;
      overflow: hidden;
      padding: 16px;
      border-radius: 16px;
      height: 622px;
      display: flex;
      align-items: flex-end;

      @media (max-width: $md) {
        height: 450px;
        padding: 12px;
        border-radius: 10px;
      }

      @media(any-hover: hover) {
        &:hover {
          .mortgage__item-img {
            transform: scale(1.1);

          }
        }
      }
    }

    &-img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transform: scale(1);
      transition: .25s ease-in-out;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      position: relative;
      z-index: 3;
      background-color: var(--color-whte);
      padding: 20px 32px 32px;
      border-radius: 16px;

      @media (max-width: $md) {
        padding: 20px;
        border-radius: 6px;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      margin-bottom: 12px;

      @media (max-width: $md) {
        margin-bottom: 8px;
        gap: 16px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;

      @media (max-width: $md) {
        font-size: 18px;
      }
    }

    &-icon {
      --size: 56px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid cl(blck, 0.1);
      border-radius: 50%;
      flex-shrink: 0;

      svg {
        display: block;
        color: var(--color-primary);
      }

      @media (max-width: $md) {
        --size: 45px;
      }
    }

    &-desc {
      opacity: 0.5;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  &__calculate {
    margin-top: 16px;
  }
}

.faq {
  &__item {
    padding: 19px 31px;
    border-radius: 16px;
    border: 1px solid cl(blck, 0.1);
    outline: 0;
    outline-offset: 0;
    margin: 0;

    @media (max-width: $md) {
      padding: 19px;
    }

    summary {
      list-style: none;
      margin: 0;
    }
    
    summary::-webkit-details-marker {
        display: none;
    }    

    &:not(:last-of-type) {
      margin-bottom: 16px;

      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      cursor: pointer;

      &._spoller-active {
        .faq__item-toggle span {
          &::before {
            opacity: 0;
          }
        }
      }

      @media (max-width: 767px) {
        gap: 12px;
        margin-bottom: 20px;
      }
    }

    &-question {
      font-size: 24px;
      font-weight: 700;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    &-toggle {
      --size: 60px;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background-color: var(--color-grey-light);
      border-radius: 50%;

      @media (max-width: 767px) {
        --size: 50px;
      }

      span {
        position: relative;
        display: block;
        width: 10px;
        height: 2px;
        border-radius: 2px;
        background-color: var(--color-blck);
        transition: .25s;

        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 2px;
          border-radius: 2px;
          background-color: var(--color-blck);
          top: 0px;
          left: 0px;
          transform: rotate(90deg);
          transition: .25s;
        }

        @media (max-width: 767px) {
          width: 13px;

          &::before {
            width: 13px;
          }
        }
      }
    }

    &-desc {
      max-width: 1003px;
      opacity: 0.7;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}
