.similar {

  &__list {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
  
      @media(max-width: 1439px) {
        grid-template-columns: 1fr 1fr;
      }

      @media(max-width: $md) {
        display: flex;
        align-items: stretch;
        gap: 0;
      }
    }
  }

  &__all {
    margin-top: 16px;

    @media(max-width: $md) {
      margin-top: 8px;
    }
  }
}