.video {
  
  &.section {
    padding-top: 60px;

    @media(max-width: $md) {
      padding-top: 0;
    }
  }

  &__wrapper {
    position: relative;
    padding-bottom: 5px;
  }

  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 240px;
    line-height: 1;
    letter-spacing: -0.5px;
    color: var(--color-grey-light);

    @media(max-width: $pc) {
      font-size: 100px;
    }

    @media(max-width: $md) {
      font-size: 60px;
    }

    @media(max-width: $sm) {
      font-size: 44px;
      line-height: 1;

    }
  }

  &__list {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr .5fr;
    gap: 16px;

    @media(max-width: $sm) {
      grid-template-columns: 1fr .68fr;
      gap: 8px;
    }
  }

  &__item {
    position: relative;

    @media(max-width: $sm) {
      height: 240px;
    }

    @media(max-width: $xs) {
      height: 172px;
    }

    &--small {

      @media(max-width: $sm) {
        height: 160px;
      }

      @media(max-width: $xs) {
        height: 108px;
      }
    }

    img {
      display: block;
      width: 100%;
      border-radius: 16px;

      @media(max-width: $sm) {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__slider {
    position: relative;
    --height: 640px;
    --width: 600px;
    min-height: var(--height);
    padding-right: calc(100% - var(--width));
    overflow: visible;

    @media(max-width: $md) {
      padding-right: 50%;
      --height: 480px;
      --width: 50%;
    }

    @media(max-width: $sm)  {
      --height: 172px;
    }

    .swiper-slide {
      .video__slider-item {
        width: var(--width);
        height: 320px;
        transition: .25s;

        @media(max-width: $md) {
          width: 100%;
          height: 240px;
        }

        @media(max-width: $sm) {
          height: 108px;
        }
      }
    }

    .swiper-slide-active {
      .video__slider-item {
        height: var(--height);
      }
    }
    
    &-item {

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 16px;

        @media(max-width: $sm) {
          border-radius: 10px;
        }
      }
    }

    &-controls {
      position: absolute;
      right: 17%;
      top: 32px;
      z-index: 2;

      @media(max-width: $pc) {
        right: auto;
        left: 540px;
      }

      @media(max-width: $md) {
        display: none;
      }
    }
  }
}