.about-partners {

  @media(max-width: $sm) {
    overflow: hidden;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    @media(max-width: $lg) {
      flex-direction: column;
    }

    @media(max-width: $md) {
      gap: 28px;
    }
  }

  &__list {
    max-width: 1166px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media(max-width: $lg)  {
      max-width: 100%;
    }

    @media(max-width: $md) {
      gap: 8px;
    }

    @media(max-width: $sm) {
      max-width: initial;
      grid-template-columns: repeat(3, calc(50% - 4px));
      overflow-x: auto;
      width: calc(100% + 32px);
      margin: 0 -16px;
      padding: 0 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid cl(blck, .1);
    transition: .25s;

    @media(max-width: $md)  {
      height: 160px;
      padding: 16px;
    }

    @media(any-hover: hover) {

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-whte);

        .about-partners__item-btn {
          background-color: var(--color-whte);
          color: var(--color-primary);
        }
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 700;
      
      @media(max-width: $md)  {
        font-size: 18px;
      }
    }

    &-btn {
      --size: 60px;
      align-self: flex-end;
      width: var(--size);
      height: var(--size);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary);
      color: var(--color-whte);
      border-radius: 50%;
      transition: .25s;

      @media(max-width: $md)  {
        --size: 50px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}