.about-history {
  padding-bottom: 150px;

  @media(max-width: $lg) {
    padding-bottom: 80px;
  }

  @media(max-width: $md) {
    padding-bottom: 60px;
  }

  &__title {

    @media(max-width: $sm) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      inset: auto 0 0 0;
      width: 100%;
      height: 1px;
      background-color: cl(blck, .1);
    }
  }

  &__thumbs {
    width: 100%;
    overflow: hidden;

    &-prev {
      margin-right: 51px;
      padding-top: 3px;

      svg {
        transform: rotate(-180deg);
      }

      &.swiper-button-disabled {
        display: none;
      }

      
      @media(max-width: $lg) {
        display: none;
      }
    }

    &-next {
      margin-left: 51px;
      padding-top: 3px;

      &.swiper-button-disabled {
        display: none;
      }

      @media(max-width: $lg) {
        display: none;
      }
    }

    &-item {
      
      &.swiper-slide {
        width: auto;
        padding-bottom: 17px;
        border-bottom: 1px solid transparent;
        font-size: 18px;
        cursor: pointer;

        @media(max-width: $md) {
          font-size: 16px;
        }
      }

      &.swiper-slide-thumb-active {
        border-color: var(--color-primary);
      }
    }
  }

  &__main {
    position: relative;

    &-nav {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      right: 15%;
      top: 135px;
      z-index: 5;

      @media(max-width: 1439px) {
        top: 20px;
        right: calc(50% - 178px);
      }

      @media(max-width: $sm) {
        display: none;
      }
    }
  }

  &__years {
    position: relative;
    width: 100%;

    &-item {

      &.swiper-slide {
        font-size: 100px;
        letter-spacing: -1.5px;
        line-height: 1;
        color: #FFEFE5;

        @media(max-width: 1439px) {
          font-size: 64px;
        }

        @media(max-width: $sm)  {
          font-size: 50px;
          width: 100%;
        }
      }

      &.swiper-slide-prev {
        text-align: right;

        span {
          display: block;
          margin-right: -190px;

          @media(max-width: 1439px)  {
            margin-right: -140px;
          }

          @media(max-width: $sm) {
            margin-right: 0;
            opacity: 0;
          }
        }
      }

      &.swiper-slide-next  {
        span {
          display: block;
          margin-left: -140px;

          @media(max-width: 1439px)  {
            margin-left: -90px;
          }

          @media(max-width: $sm) {
            margin-left: -64px;
          }
        }
      }

      &.swiper-slide-active {
        font-size: 224px;
        color: var(--color-primary);
        text-align: right;
        padding-right: 28%;
        letter-spacing: -9.5px;

        @media(max-width: 1439px) {
          font-size: 80px;
          padding-right: 50%;
          letter-spacing: -1.5px;
        }

        @media(max-width: $sm)  {
          font-size: 50px;
          padding-right: 0;
          text-align: left;
          opacity: 1;
        }
      }
    }
  }


  &__info {
    overflow: hidden;
    margin-top: 40px;

    &-slide {

      &.swiper-slide {
        width: 100%;
        display: flex;
        align-items: flex-end;

        @media(max-width: 1439px) {
          display: grid;
          grid-template-columns: calc(30% - 40px) 45% calc(25% - 40px);
          gap: 40px;
        }

        @media(max-width: $md) {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
        }
      }
    }

    &-desc {
      max-width: 509px;
      width: 100%;
      margin: 0 147px 0 auto;

      @media(max-width: 1439px) {
        margin-right: 0;
      }

      @media(max-width: $md) {
        max-width: 100%;
        margin: 0 0 56px 0;
        order: -1;
      }
    }

    &-title {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: -0.5px;
      margin-bottom: 20px;

      @media(max-width: $md) {
        font-size: 20px;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -0.5px;

      @media(max-width: $md) {
        font-size: 16px;
      }

      @media(max-width: $sm) {
        font-size: 14px;
      }
    }

    &-img {
      border-radius: 16px;
      overflow: hidden;
      height: 260px;

      @media(max-width: $md) {
        border-radius: 10px;
        height: 250px;
      }

      @media(max-width: $sm)  {
        height: 146px;
      }

      &--left {
        max-width: 378px;
        width: 100%;
        margin-right: 40px;

        @media(max-width: 1439px) {
          margin-right: 0;
        }

        @media(max-width: $md) {
          max-width: calc(60% - 2px);

          margin-right: 0;
        }


      }

      &--right {
        max-width: 247px;
        width: 100%;

        @media(max-width: $md) {
          max-width: calc(40% - 2px);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media(max-width: $md) {

        }
      }
    }
  }
}