// Заголовки, общие БЭМ блоки и прочее...

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: $pc) {
    padding: 0 20px;
  }
}

.content {
  position: relative;
  margin-top: 100dvh;
  background-color: var(--color-whte);
  z-index: 3;
  @media (max-width: $mobile) {
    margin-top: var(--height);
  }
}

.section {
  position: relative;
  z-index: 4;
  padding: 80px 0;
  background-color: var(--color-whte);

  @media (max-width: $md) {
    padding: 60px 0;
  }

  + .section {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 50px;

    @media (max-width: $md) {
      margin-bottom: 28px;
    }
  }

  @media (max-width: $md) {
    padding-top: 60px;
  }

  &--pt {
    padding-top: 80px;

    @media (max-width: $md) {
      padding-top: 60px;
    }
  }

  &--pb {
    padding-bottom: 80px;

    @media (max-width: $md) {
      padding-bottom: 60px;
    }
  }
}

.common-status {
  --size: 8px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  display: block;
  border-radius: 50%;
  background-color: var(--color-status);

  @media (max-width: $sm) {
    --size: 6px;
  }
}

.common-slider-next,
.common-slider-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color-whte);
  color: var(--color-whte);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .25s;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }

  &--white {
    background-color: var(--color-grey-light);
    border-color: var(--color-grey-light);
    color: var(--color-blck);

    @media(any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-whte);
      }
    }
  }
}

.common-slider-prev {
  svg {
    transform: rotate(180deg);
  }
}

.slider-round-controls {
  --size: 140px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  gap: 10px;
}

.slider-round-control {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  color: var(--color-whte);
  outline: none;

  &.swiper-button-disabled {
    opacity: 0.4;
  }

  svg {
    display: block;
  }

  &--prev {
    svg {
      transform: rotate(180deg);
    }
  }
}

.h1 {
  font-size: 100px;
  line-height: 1;

  @media (max-width: $xl) {
    font-size: 80px;
  }

  @media (max-width: $lg) {
    font-size: 64px;
  }

  @media (max-width: $md) {
    font-size: 56px;
  }

  @media (max-width: $sm) {
    font-size: 46px;
  }
}

.h2 {
  font-size: 80px;
  line-height: 1;

  font-weight: 500;

  @media (max-width: $lg) {
    font-size: 60px;
  }

  @media (max-width: $md) {
    font-size: 48px;
  }

  @media (max-width: $sm) {
    font-size: 38px;
  }
}

.h3 {
  font-size: 60px;
  line-height: 1;

  font-weight: 500;

  @media (max-width: $lg) {
    font-size: 48px;
  }

  @media (max-width: $md) {
    font-size: 36px;
  }

  @media (max-width: $sm) {
    font-size: 28px;
  }
}

.h4 {
  font-size: 44px;
  line-height: 1;

  @media (max-width: $lg) {
    font-size: 40px;
  }

  @media (max-width: $md) {
    font-size: 32px;
  }

  @media (max-width: $sm) {
    font-size: 24px;
  }
}

.menu-open {
  .header__logo {
    position: relative;
    z-index: 3;

    svg {
      color: var(--color-blck);
    }
  }

  .header__burger {
    position: relative;
    z-index: 3;
    background-color: var(--color-grey-light);
    transition: 0.25s;

    span {
      background-color: var(--color-blck);
      transition: 0.25s;
      left: 17px;

      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 23px;
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
        top: 23px;
      }

      @media (max-width: $sm) {
        left: 14px;

        &:nth-of-type(1) {
          transform: rotate(45deg);
          top: 20px;
        }

        &:nth-of-type(2) {
          transform: rotate(-45deg);
          top: 20px;
        }
      }
    }
  }

  .header__menu {
    transform: translateX(0);
    z-index: 2;
  }
}

.sm-block {
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}

.sm-hide {
  display: block;

  @media (max-width: $sm) {
    display: none;
  }
}

.share {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    min-width: 275px;
    top: -50%;
    left: -70%;
    height: 100px;
    cursor: pointer;
  }

  &:hover {
    .share__dropdown {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0px);
    }
  }

  &__btn {
    @media (max-width: $md) {
      width: 50px;
      height: 50px;
      min-height: 50px;
    }
  }

  &__dropdown {
    position: absolute;
    min-width: 275px;
    padding: 28px;
    border-radius: 16px;
    background-color: var(--color-whte);
    border: 1px solid cl(blck, 0.1);
    top: calc(100% + 12px);
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: transform 0.3s;
    z-index: 10;

    &-item {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      cursor: pointer;

      svg {
        color: var(--color-primary);
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-primary);
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }

      &--top {
        margin-bottom: 32px;
        padding-bottom: 24px;
        border-bottom: 1px solid cl(blck, 0.1);
      }
    }
  }
}

.hover-link {
  transition: 0.25s;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
      transition: 0.25s;
    }
  }
}

.inner-page {
  padding-top: 88px;

  @media (max-width: $md) {
    padding-top: 85px;
  }
}

.inner-page__headline {
  margin-bottom: 40px;

  @media (max-width: $md) {
    margin-bottom: 28px;
  }
}

.breadcrumbs {
  padding: 60px 0 0 0;

  @media (max-width: $md) {
    padding-top: 28px;

    + .section {
      padding-top: 40px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    overflow-x: auto;

    @media (max-width: $md) {
      width: calc(100% + 40px);
      padding: 0 20px;
      margin: 0 -20px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    pointer-events: none;
    white-space: nowrap;

    @media (max-width: $md) {
      font-size: 12px;
    }

    &:not(:last-of-type) {
      pointer-events: all;
      padding-right: 16px;
      margin-right: 12px;
      position: relative;
      color: cl(blck, 0.3);

      @media (any-hover: hover) {
        &:hover {
          > a {
            text-decoration: underline;
          }
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        background-color: cl(blck, 0.3);
        border-radius: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.tabs-controls {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: $md) {
    gap: 4px;
  }

  &__item {
    padding: 9px 19px 11px;
    background-color: var(--color-whte);
    border: 1px solid cl(blck, 0.1);
    border-radius: 100px;
    font-weight: 500;

    @media (max-width: $md) {
      padding: 7px 19px;
      font-size: 12px;
      line-height: 1.2;
    }

    &.is-active {
      background-color: var(--color-primary);
      color: var(--color-whte);
      border-color: var(--color-primary);
    }
  }
}

.complex-select {
  border: 1px solid cl(whte, 0.3);
  border-radius: 16px;
  overflow: hidden;
  width: 348px;

  @media (max-width: $sm) {
    border-radius: 10px;
    width: 100%;
  }

  &__head {
    background-color: cl(whte, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 23px 27px;
    color: cl(whte);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;

    @media (max-width: $sm) {
      padding: 11px;
      font-size: 14px;
    }

    svg {
      transform: rotate(90deg);
      transition: 0.25s;
    }

    &.is-active {
      background-color: cl(whte);
      color: var(--color-blck);

      svg {
        transform: rotate(-90deg);
      }

      + .complex-select__list {
        background-color: var(--color-whte);
      }
    }
  }

  &__choosen {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      --size: 32px;
      width: var(--size);
      height: var(--size);

      @media (max-width: $sm) {
        --size: 30px;
      }
    }
  }

  &__list {
    padding: 0 8px 0 28px;
    transition: 0.25s;

    @media (max-width: $sm) {
      padding: 8px 5px 0 12px;
    }
  }

  &__inner {
    padding: 24px 18px 24px 0;
    height: 219px;
    overflow-y: auto;
    position: relative;

    @media (max-width: $sm) {
      height: 188px;
      padding: 20px 5px 20px 0;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0px;
      right: 18px;
      width: calc(100% - 18px);
      height: 1px;
      border-top: 1px solid cl(blck, 0.1);

      @media (max-width: $sm) {
        width: calc(100% - 5px);
        right: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 2px;

      &-track {
        width: 2px;
      }

      &-thumb {
        background-color: cl(blck, 0.1);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }

    @media (max-width: $sm) {
      font-size: 14px;

      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
  }

  &__item-img {
    --size: 32px;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 2px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $sm) {
      --size: 30px;
    }
  }

  &__item-name {
    width: 100%;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 4px;

  &__title {
    display: block;
    margin-right: 8px;
  }

  &__link {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--color-grey-lighter);
    transition: .25s;

    @media(any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);

        svg {
          color: var(--color-whte);
        }
      }
    }
  }
}
